* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8BC6EC;
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.container {
    background-color: #003989;
    min-width: 400px;
    min-height: 600px;
    border-radius: 10px;
    padding: 25px;
}

#display {
    background-color: #fff;
    border: 3px solid #003989;
    border-radius: 10px;;
    font-size: 30px;
    color: #ef798e;
    text-align: right;
    padding: 20px 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    border-left: 1px solid ;
    border-bottom: 1 px solid ;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 100px;
    background-color: #97cedb;
    border: 2px solid ;
    border-radius: 10px;;
    color: #32485c;
    font-size: 30px;
    font-weight: 500;
    margin: 2px;
}

.operator, .delete, .clear, .decimal {
    background-color: #ef798e;
}

.button:hover {
    background-color: #003989;
    color: #fff;
}

.button:active {
    border: 3px solid #fff;
}

.span {
    grid-column: 2 span;
}